<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-takhfif-tavafoghi-heading" jhiTranslate="insurancestartApp.takhfifTavafoghi.home.createOrEditLabel">Create or edit a Takhfif Tavafoghi</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!takhfifTavafoghi.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="takhfifTavafoghi.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insurancestartApp.takhfifTavafoghi.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="takhfifTavafoghi.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insurancestartApp.takhfifTavafoghi.darsadTakhfif" for="field_darsadTakhfif">Darsad Takhfif</label>
                    <input type="number" class="form-control" name="darsadTakhfif" id="field_darsadTakhfif"
                        [(ngModel)]="takhfifTavafoghi.darsadTakhfif" required min="0" jhiMin="0" max="100" jhiMax="100"/>
                    <div [hidden]="!(editForm.controls.darsadTakhfif?.dirty && editForm.controls.darsadTakhfif?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.darsadTakhfif?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.darsadTakhfif?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.darsadTakhfif?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 100 }">
                            This field cannot be more than 100.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.darsadTakhfif?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insurancestartApp.takhfifTavafoghi.azTarikh" for="field_azTarikh">Az Tarikh</label>
                    <div class="input-group">
                        <input id="field_azTarikh" type="text" class="form-control" name="azTarikh" ngbDatepicker  #azTarikhDp="ngbDatepicker" [(ngModel)]="takhfifTavafoghi.azTarikh"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="azTarikhDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.azTarikh?.dirty && editForm.controls.azTarikh?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.azTarikh?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insurancestartApp.takhfifTavafoghi.faal" for="field_faal">Faal</label>
                    <input type="checkbox" class="form-control" name="faal" id="field_faal"
                        [(ngModel)]="takhfifTavafoghi.faal" />
                    <div [hidden]="!(editForm.controls.faal?.dirty && editForm.controls.faal?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.faal?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insurancestartApp.takhfifTavafoghi.sherkatBime" for="field_sherkatBime">Sherkat Bime</label>
                    <select class="form-control" id="field_sherkatBime" name="sherkatBime" [(ngModel)]="takhfifTavafoghi.sherkatBimeId"  required>
                        <option *ngIf="!editForm.value.sherkatBime" [ngValue]="null" selected></option>
                        <option [ngValue]="sherkatBimeOption.id" *ngFor="let sherkatBimeOption of sherkatbimes; trackBy: trackSherkatBimeById">{{sherkatBimeOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.sherkatBime?.dirty && editForm.controls.sherkatBime?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sherkatBime?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
