<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="insutech-mohasebe-sales-heading" jhiTranslate="insurancestartApp.mohasebeSales.home.createOrEditLabel">Create or edit a Mohasebe Sales</h2>
            <div>
                <insutech-alert-error></insutech-alert-error>
                <div class="form-group" [hidden]="!mohasebeSales.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="mohasebeSales.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insurancestartApp.mohasebeSales.nameSherkat" for="field_nameSherkat">Name Sherkat</label>
                    <input type="text" class="form-control" name="nameSherkat" id="field_nameSherkat"
                        [(ngModel)]="mohasebeSales.nameSherkat" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insurancestartApp.mohasebeSales.saltakhfif" for="field_saltakhfif">Saltakhfif</label>
                    <input type="number" class="form-control" name="saltakhfif" id="field_saltakhfif"
                        [(ngModel)]="mohasebeSales.saltakhfif" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insurancestartApp.mohasebeSales.tips" for="field_tips">Tips</label>
                    <select class="form-control" id="field_tips" name="tips" [(ngModel)]="mohasebeSales.tipsId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tipKhodroOption.id" *ngFor="let tipKhodroOption of tipkhodros; trackBy: trackTipKhodroById">{{tipKhodroOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
