

<div class="row">
<div class="col-md-1"></div>
 <div class="col-md-10">
     <div class="row justify-content-center">
         <div class="col-8">
             <form name="editForm" role="form" novalidate (ngSubmit)="transition()" #editForm="ngForm">
                 <h4 id="jhi-estelaam-sales-nerkh-heading" jhiTranslate="insurancestartApp.estelaamSalesNerkh.home.title">Create or edit a Estelaam Sales Nerkh</h4>
                 <div>
                     <jhi-alert-error></jhi-alert-error>

                     <!--<div class="input-group-append">-->
                         <!--<span class="input-group-text" jhiTranslate="audits.filter.to">To</span>-->
                     <!--</div>-->


                     <div class="input-group-append">
                         <label class="input-group-text" style="width: 35%" jhiTranslate="insurancestartApp.estelaamSalesNerkh.anvaeKhodro" for="field_anvaeKhodro">Anvae Khodro</label>
                         <select class="form-control" id="field_anvaeKhodro" name="anvaeKhodro" [(ngModel)]="anvaeKhodro" required>
                             <option *ngIf="!editForm.value.anvaeKhodro" [ngValue]="null" selected></option>
                             <option [ngValue]="anvaeKhodroOption.id" *ngFor="let anvaeKhodroOption of anvaekhodros; trackBy: trackAnvaeKhodroById">{{anvaeKhodroOption.onvan}}-{{anvaeKhodroOption.systemVasile}}-{{anvaeKhodroOption.grouhVasile}}</option>
                         </select>
                     </div>
                     <div [hidden]="!(editForm.controls.anvaeKhodro?.dirty && editForm.controls.anvaeKhodro?.invalid)">
                         <small class="form-text text-danger"
                                [hidden]="!editForm.controls.anvaeKhodro?.errors?.required" jhiTranslate="entity.validation.required">
                             This field is required.
                         </small>
                     </div>
                     <div class="input-group-append">
                         <label class="input-group-text" style="width: 35%" jhiTranslate="insurancestartApp.estelaamSalesNerkh.saalSakht" for="field_saalSakht">Saal Sakht</label>
                         <select class="form-control" id="field_saalSakht" name="saalSakht"  [(ngModel)]="saalSakht" required>
                             <option *ngIf="!editForm.value.saalSakht" [ngValue]="null" selected></option>
                             <option [ngValue]="saalSakhtOption.id" *ngFor="let saalSakhtOption of saalsakhts; trackBy: trackSaalSakhtById">{{saalSakhtOption.saalShamsi}} - {{saalSakhtOption.saalMiladi}}</option>
                         </select>
                     </div>
                     <div [hidden]="!(editForm.controls.saalSakht?.dirty && editForm.controls.saalSakht?.invalid)">
                         <small class="form-text text-danger"
                                [hidden]="!editForm.controls.saalSakht?.errors?.required" jhiTranslate="entity.validation.required">
                             This field is required.
                         </small>
                     </div>
                     <div class="input-group-append">
                         <label class="input-group-text" style="width: 35%" jhiTranslate="insurancestartApp.estelaamSalesNerkh.onvanKhodro" for="field_onvanKhodro">Onvan Khodro</label>
                         <select class="form-control" id="field_onvanKhodro" name="onvanKhodro" [(ngModel)]="onvanKhodro"  required>
                             <option *ngIf="!editForm.value.onvanKhodro" [ngValue]="null" selected></option>
                             <option [ngValue]="onvanKhodroOption.id" *ngFor="let onvanKhodroOption of onvankhodros; trackBy: trackOnvanKhodroById">{{onvanKhodroOption.name}}</option>
                         </select>
                     </div>
                     <div [hidden]="!(editForm.controls.onvanKhodro?.dirty && editForm.controls.onvanKhodro?.invalid)">
                         <small class="form-text text-danger"
                                [hidden]="!editForm.controls.onvanKhodro?.errors?.required" jhiTranslate="entity.validation.required">
                             This field is required.
                         </small>
                     </div>

                     <div class="input-group-append">
                         <label class="input-group-text" style="width: 35%" jhiTranslate="insurancestartApp.vaziatBime.lable" for="field_vaziatbime">title</label>
                         <select class="form-control" id="field_vaziatbime" name="vaziatBime" [(ngModel)]="vaziatBime"  required>
                             <option *ngIf="!editForm.value.vaziatBime" [ngValue]="null" selected></option>
                             <option [ngValue]="vaziatBimeOption.id" *ngFor="let vaziatBimeOption of vaziatBimes; trackBy: trackVaziatBimeById">{{vaziatBimeOption.title}}</option>
                         </select>
                     </div>
                     <div [hidden]="!(editForm.controls.vaziatBime?.dirty && editForm.controls.vaziatBime?.invalid)">
                         <small class="form-text text-danger"
                                [hidden]="!editForm.controls.vaziatBime?.errors?.required" jhiTranslate="entity.validation.required">
                             This field is required.
                         </small>
                     </div>

                     <div class="input-group-append" [hidden]="vaziatBime == '17152' || vaziatBime == '17153'">
                         <label class="input-group-text" style="width: 35%" jhiTranslate="hi-there.codeyekta" for="field_codeyekta">Code Yekta</label>
                         <input class="form-control" id="field_codeyekta" name="codeyekta" [(ngModel)]="codeyekta" />

                     </div>

                     <div class="input-group-append" [hidden]="vaziatBime == '17152' || vaziatBime == '17153'">
                         <label class="input-group-text" style="width: 35%" jhiTranslate="hi-there.sherkatBime" for="field_sherkatBime">Sherkat Bime</label>
                         <select class="form-control" id="field_sherkatBime" name="sherkatBime" [(ngModel)]="sherkatBime"  required>
                             <option *ngIf="!editForm.value.sherkatBime" [ngValue]="null" selected></option>
                             <option [ngValue]="sherkatBimeOption.id" *ngFor="let sherkatBimeOption of sherkatebimes; trackBy: trackSherkatBimeById">{{sherkatBimeOption.name}}</option>
                         </select>
                     </div>
                     <div [hidden]="!(editForm.controls.sherkatBime?.dirty && editForm.controls.sherkatBime?.invalid)">
                         <small class="form-text text-danger"
                                [hidden]="!editForm.controls.sherkatebime?.errors?.required" jhiTranslate="entity.validation.required">
                             This field is required.
                         </small>
                     </div>

                     <div class="input-group-append" [hidden]="vaziatBime == '17152' || vaziatBime == '17153'">
                         <label class="input-group-text" style="width: 35%" jhiTranslate="hi-there.tarikhEtebar" for="field_tarikh">Tarikh</label>
                         <div class="input-group">
                             <input id="field_tarikh" type="text"  class="form-control"  [displayMonths]="1" [firstDayOfWeek]="6" name="tarikh"  (focus)="tarikhDp.open()" (click)="tarikhDp.open()" ngbDatepicker placeholder="yyyy-mm-dd"  #tarikhDp="ngbDatepicker" [(ngModel)]="tarikhEtebar" required />
                             <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="tarikhDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                         </div>
                     </div>
                     <div [hidden]="!(editForm.controls.tarikh?.dirty && editForm.controls.tarikh?.invalid)">
                         <small class="form-text text-danger"
                                [hidden]="!editForm.controls.tarikh?.errors?.required" jhiTranslate="entity.validation.required">
                             This field is required.
                         </small>
                     </div>

                     <div class="input-group-append" [hidden]="vaziatBime == '17152' || vaziatBime == '17153'">
                         <label class="input-group-text" style="width: 35%" jhiTranslate="hi-there.modateBimename" for="field_name">Name</label>
                         <select class="form-control" id="field_name" name="name" [(ngModel)]="modateBimename"  required>
                             <option *ngIf="!editForm.value.modateBimename" [ngValue]="null" selected></option>
                             <option [ngValue]="modateBimenameOption.id" *ngFor="let modateBimenameOption of modateBimenames; trackBy: trackModateBimenameById">{{modateBimenameOption.name}}</option>
                         </select>
                         <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                             <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                                 This field is required.
                             </small>
                         </div>
                     </div>

                     <div class="input-group-append" [hidden]="vaziatBime == '17152' || vaziatBime == '17153'">
                         <label class="input-group-text" style="width: 35%" jhiTranslate="hi-there.adamKhesarat" for="field_adamKhesarat">Adam Khesarat</label>
                         <select class="form-control" id="field_adamKhesarat" name="adamKhesarat"  [(ngModel)]="adamKhesarat" required>
                             <option *ngIf="!editForm.value.adamKhesarat" [ngValue]="null" selected></option>
                             <option [ngValue]="adamKhesaratOption.id" *ngFor="let adamKhesaratOption of adamkhesarats; trackBy: trackAdamKhesaratById">{{adamKhesaratOption.sabegheName}}</option>
                         </select>
                     </div>
                     <div [hidden]="!(editForm.controls.adamKhesarat?.dirty && editForm.controls.adamKhesarat?.invalid)">
                         <small class="form-text text-danger"
                                [hidden]="!editForm.controls.adamKhesarat?.errors?.required" jhiTranslate="entity.validation.required">
                             This field is required.
                         </small>
                     </div>
                     <div class="input-group-append" [hidden]="vaziatBime == '17152' || vaziatBime == '17153'">
                         <label class="input-group-text" style="width: 35%" jhiTranslate="hi-there.adamKhesaratSarneshin" for="field_adamKhesaratSarneshin">Adam Khesarat Sarneshin</label>
                         <select class="form-control" id="field_adamKhesaratSarneshin" name="adamKhesaratSarneshin" [(ngModel)]="adamKhesaratSarneshin" required>
                             <option *ngIf="!editForm.value.adamKhesaratSarneshin" [ngValue]="null" selected></option>
                             <option [ngValue]="adamKhesaratSarneshinOption.id" *ngFor="let adamKhesaratSarneshinOption of adamkhesaratsarneshins; trackBy: trackAdamKhesaratSarneshinById">{{adamKhesaratSarneshinOption.sabegheName}}</option>
                         </select>
                     </div>
                     <div [hidden]="!(editForm.controls.adamKhesaratSarneshin?.dirty && editForm.controls.adamKhesaratSarneshin?.invalid)">
                         <small class="form-text text-danger"
                                [hidden]="!editForm.controls.adamKhesaratSarneshin?.errors?.required" jhiTranslate="entity.validation.required">
                             This field is required.
                         </small>
                     </div>
                     <div class="input-group-append" [hidden]="vaziatBime == '17152' || vaziatBime == '17153'">
                         <label class="input-group-text" style="width:35%" jhiTranslate="hi-there.sabegheKhesarat" for="field_sabeghename">Name</label>
                         <select class="form-control" id="field_sabeghename" name="sabeghename" [(ngModel)]="sabegheKhesarat" required>
                             <option *ngIf="!editForm.value.sabeghename" [ngValue]="null" selected></option>
                             <option [ngValue]="sabegheKhesaratOption.id" *ngFor="let sabegheKhesaratOption of sabegheKhesarats; trackBy: trackSabegheKhesaratById">{{sabegheKhesaratOption.name}}</option>
                         </select>
                         <div [hidden]="!(editForm.controls.sabeghename?.dirty && editForm.controls.sabeghename?.invalid)">
                             <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.sabeghename?.errors?.required" jhiTranslate="entity.validation.required">
                                 This field is required.
                             </small>
                         </div>
                     </div>
                     <div class="input-group-append" [hidden]="vaziatBime == '17152' || vaziatBime == '17153' || sabegheKhesarat=='17452'">
                         <label class="input-group-text" style="width:35%" jhiTranslate="hi-there.khesaratSalesjani" for="field_khesaratSales">Khesarat Sales</label>
                         <select class="form-control" id="field_khesaratSales" name="khesaratSales" [(ngModel)]="khesaratSales" required>
                             <option *ngIf="!editForm.value.khesaratSales" [ngValue]="null" selected></option>
                             <option [ngValue]="khesaratSalesOption.key" *ngFor="let khesaratSalesOption of khesaratsales; ">{{khesaratSalesOption.value}}</option>
                         </select>
                     </div>
                     <div [hidden]="!(editForm.controls.khesaratSales?.dirty && editForm.controls.khesaratSales?.invalid)">
                         <small class="form-text text-danger"
                                [hidden]="!editForm.controls.khesaratSales?.errors?.required" jhiTranslate="entity.validation.required">
                             This field is required.
                         </small>
                     </div>
                     <div class="input-group-append" [hidden]="vaziatBime == '17152' || vaziatBime == '17153' || sabegheKhesarat=='17452'">
                         <label class="input-group-text" style="width:35%" jhiTranslate="hi-there.khesaratSalesmali" for="field_khesaratSalesmali">Khesarat Sales</label>
                         <select class="form-control" id="field_khesaratSalesmali" name="khesaratSalesMali" [(ngModel)]="khesaratSalesmali" required>
                             <option *ngIf="!editForm.value.khesaratSalesmalis" [ngValue]="null" selected></option>
                             <option [ngValue]="khesaratSalesmalisOption.id" *ngFor="let khesaratSalesmalisOption of khesaratSalesmalis; trackBy: trackKhesaratSalesMaliById">{{khesaratSalesmalisOption.sabegheName}}</option>
                         </select>
                     </div>
                     <div [hidden]="!(editForm.controls.khesaratSalesMali?.dirty && editForm.controls.khesaratSalesMali?.invalid)">
                         <small class="form-text text-danger"
                                [hidden]="!editForm.controls.khesaratSalesMali?.errors?.required" jhiTranslate="entity.validation.required">
                             This field is required.
                         </small>
                     </div>
                     <div class="input-group-append" [hidden]="vaziatBime == '17152' || vaziatBime == '17153' || sabegheKhesarat=='17452'">
                         <label class="input-group-text" style="width: 35%" jhiTranslate="hi-there.khesaratSrneshin" for="field_khesaratSrneshin">Khesarat Srneshin</label>
                         <select class="form-control" id="field_khesaratSrneshin" name="khesaratSrneshin"  [(ngModel)]="khesaratSrneshin" required>
                             <option *ngIf="!editForm.value.khesaratSrneshin" [ngValue]="null" selected></option>
                             <option [ngValue]="khesaratSrneshinOption.id" *ngFor="let khesaratSrneshinOption of khesaratsrneshins; trackBy: trackKhesaratSrneshinById">{{khesaratSrneshinOption.sabegheName}}</option>
                         </select>
                     </div>
                     <div [hidden]="!(editForm.controls.khesaratSrneshin?.dirty && editForm.controls.khesaratSrneshin?.invalid)">
                         <small class="form-text text-danger"
                                [hidden]="!editForm.controls.khesaratSrneshin?.errors?.required" jhiTranslate="entity.validation.required">
                             This field is required.
                         </small>
                     </div>

                     <!--<div class="input-group-append" [hidden]="vaziatBime == '17152' || vaziatBime == '17153' || sabegheKhesarat=='17452'">-->
                         <!--<label class="input-group-text"  style="width: 35%" jhiTranslate="hi-there.khesaratSalesjani" for="field_khesaratSales">Estate</label>-->
                         <!--<select class="form-control" name="khesaratSales" [(ngModel)]="khesaratSales" id="field_khesaratSales"  required>-->
                             <!--<option value="0">{{'hi-there.khesaratSalesEnum.ZERO' | translate}}</option>-->
                             <!--<option value="1">{{'hi-there.khesaratSalesEnum.ONE' | translate}}</option>-->
                             <!--<option value="2">{{'hi-there.khesaratSalesEnum.TWO' | translate}}</option>-->
                             <!--<option value="3">{{'hi-there.khesaratSalesEnum.THREE' | translate}}</option>-->
                         <!--</select>-->
                     <!--</div>-->
                     <!--<div [hidden]="!(editForm.controls.khesaratSales?.dirty && editForm.controls.khesaratSales?.invalid)">-->
                         <!--<small class="form-text text-danger"-->
                                <!--[hidden]="!editForm.controls.khesaratSales?.errors?.required" jhiTranslate="entity.validation.required">-->
                             <!--This field is required.-->
                         <!--</small>-->
                     <!--</div>-->

                     <!--<div class="input-group-append" [hidden]="vaziatBime == '17152' || vaziatBime == '17153' || sabegheKhesarat=='17452'">-->
                         <!--<label class="input-group-text"  style="width: 35%" jhiTranslate="hi-there.khesaratSalesmali" for="field_khesaratSalesmali">Estate</label>-->
                         <!--<select class="form-control" name="khesaratSalesmali" [(ngModel)]="khesaratSalesmali" id="field_khesaratSalesmali"  required>-->
                             <!--<option value="0">{{'hi-there.khesaratSalesEnum.ZERO' | translate}}</option>-->
                             <!--<option value="1">{{'hi-there.khesaratSalesEnum.ONE' | translate}}</option>-->
                             <!--<option value="2">{{'hi-there.khesaratSalesEnum.TWO' | translate}}</option>-->
                             <!--<option value="3">{{'hi-there.khesaratSalesEnum.THREE' | translate}}</option>-->
                         <!--</select>-->
                     <!--</div>-->
                     <!--<div [hidden]="!(editForm.controls.khesaratSalesmali?.dirty && editForm.controls.khesaratSalesmali?.invalid)">-->
                         <!--<small class="form-text text-danger"-->
                                <!--[hidden]="!editForm.controls.khesaratSalesmali?.errors?.required" jhiTranslate="entity.validation.required">-->
                             <!--This field is required.-->
                         <!--</small>-->
                     <!--</div>-->


                     <!--<div class="input-group-append" [hidden]="vaziatBime == '17152' || vaziatBime == '17153' || sabegheKhesarat=='17452'">-->
                         <!--<label class="input-group-text"  style="width: 35%" jhiTranslate="hi-there.khesaratSrneshin" for="field_khesaratSrneshin">Estate</label>-->
                         <!--<select class="form-control" name="khesaratSrneshin" [(ngModel)]="khesaratSrneshin" id="field_khesaratSrneshin"  required>-->
                             <!--<option value="0">{{'hi-there.khesaratSalesEnum.ZERO' | translate}}</option>-->
                             <!--<option value="1">{{'hi-there.khesaratSalesEnum.ONE' | translate}}</option>-->
                             <!--<option value="2">{{'hi-there.khesaratSalesEnum.TWO' | translate}}</option>-->
                             <!--<option value="3">{{'hi-there.khesaratSalesEnum.THREE' | translate}}</option>-->
                         <!--</select>-->
                     <!--</div>-->
                         <div [hidden]="!(editForm.controls.khesaratSrneshin?.dirty && editForm.controls.khesaratSrneshin?.invalid)">
                             <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.khesaratSrneshin?.errors?.required" jhiTranslate="entity.validation.required">
                                 This field is required.
                             </small>
                         </div>

                 </div>
                 <div>
                    <br>
                 </div>
                 <div>
                     <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                         <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                     </button>
                     <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                         <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.estelam">Save</span>
                     </button>
                 </div>
             </form>
         </div>
     </div>
 </div>
</div>


















<!--<div class="row">-->
  <!--<div class="col-md-1"></div>-->
  <!--<div class="col-md-10">-->
    <!--&lt;!&ndash;<h6 class="text-right">{{message}}</h6>&ndash;&gt;-->
    <!--&lt;!&ndash;<h1 class="text-capitalize text-center" jhiTranslate="hi-there.title">Title</h1>&ndash;&gt;-->
    <!--&lt;!&ndash;<h5 class="text-center" jhiTranslate="hi-there.subtitle">Subtitle</h5>&ndash;&gt;-->
    <!--<hr/>-->

<!--&lt;!&ndash;    <ul class="nav nav-tabs" role="tablist">-->
      <!--<li class="nav-item">-->
        <!--<a routerLinkActive="active" class="nav-link" routerLink="/hi-there/page-one" jhiTranslate="global.menu.page-one">Page One</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a routerLinkActive="active" class="nav-link" routerLink="/hi-there/page-two" jhiTranslate="global.menu.page-two">Page Two</a>-->
      <!--</li>-->
    <!--</ul>&ndash;&gt;-->

      <!--&lt;!&ndash;<ngb-tabset activeId="registered" (tabChange)="beforeChange($event)" type="pills">&ndash;&gt;-->
          <!--&lt;!&ndash;<ngb-tab id="registered" title="Last registered leases">&ndash;&gt;-->
              <!--&lt;!&ndash;<ng-template ngbTabContent></ng-template>&ndash;&gt;-->
          <!--&lt;!&ndash;</ngb-tab>&ndash;&gt;-->
          <!--&lt;!&ndash;<ngb-tab id="canceled" title="Last canceled leases">&ndash;&gt;-->
              <!--&lt;!&ndash;<ng-template ngbTabContent></ng-template>&ndash;&gt;-->
          <!--&lt;!&ndash;</ngb-tab>&ndash;&gt;-->
      <!--&lt;!&ndash;</ngb-tabset>&ndash;&gt;-->


      <!--<ngb-tabset activeId="registered" >-->
          <!--&lt;!&ndash;<ngb-tab title="Simple">&ndash;&gt;-->
          <!--<ngb-tab id="registered">-->
              <!--<ng-template ngbTabTitle ><h5 jhiTranslate="page-one.title">Title</h5></ng-template>-->
              <!--<ng-template ngbTabContent>-->
                  <!--<div class="row">-->
                      <!--<div class="col-md-1"></div>-->
                      <!--<div class="col-md-10">-->
                          <!--&lt;!&ndash;<h6 class="text-right">{{message}}</h6>&ndash;&gt;-->
                          <!--&lt;!&ndash;<h1 class="text-capitalize text-center" jhiTranslate="page-one.title">Title</h1>&ndash;&gt;-->
                          <!--&lt;!&ndash;<h5 class="text-center" jhiTranslate="page-two.subtitle">Subtitle</h5>&ndash;&gt;-->
                          <!--&lt;!&ndash;<hr/>&ndash;&gt;-->
                          <!--&lt;!&ndash;<p class="text-justify" jhiTranslate="page-two.content">Content</p>&ndash;&gt;-->
                          <!--<div>-->
                     <!--<jhi-estelaam-sales-nerkh-update></jhi-estelaam-sales-nerkh-update>-->


                          <!--</div>-->
                      <!--</div>-->
                      <!--<div class="col-md-1"></div>-->
                  <!--</div>-->
              <!--</ng-template>-->
          <!--</ngb-tab>-->

          <!--<ngb-tab id="canceled">-->
              <!--<ng-template ngbTabTitle><h5 jhiTranslate="page-two.title">Title</h5></ng-template>-->
              <!--<ng-template ngbTabContent>-->
                  <!--<div class="row">-->
                      <!--<div class="col-md-1"></div>-->
                      <!--<div class="col-md-10">-->
                          <!--&lt;!&ndash;<h6 class="text-right">{{message}}</h6>&ndash;&gt;-->
                          <!--<h1 class="text-capitalize text-center" jhiTranslate="page-two.title">Title</h1>-->
                          <!--&lt;!&ndash;<h5 class="text-center" jhiTranslate="page-two.subtitle">Subtitle</h5>&ndash;&gt;-->
                          <!--&lt;!&ndash;<hr/>&ndash;&gt;-->
                          <!--&lt;!&ndash;<p class="text-justify">[fa] Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>&ndash;&gt;-->


                          <!--<div class="alert alert-info">-->
                              <!--<a class="alert-link" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">Did you forget your password?</a>-->
                          <!--</div>-->


                      <!--</div>-->
                      <!--<div class="col-md-1"></div>-->
                  <!--</div>-->
              <!--</ng-template>-->
          <!--</ngb-tab>-->

          <!--<ngb-tab title="Disabled" [disabled]="false">-->
              <!--<ng-template ngbTabContent>-->
                  <!--<p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>-->
              <!--</ng-template>-->
             <!--<jhi-estelaam-sales-nerkh></jhi-estelaam-sales-nerkh>-->
          <!--</ngb-tab>-->
      <!--</ngb-tabset>-->

    <!--<router-outlet></router-outlet>-->
  <!--</div>-->
  <!--<div class="col-md-1"></div>-->
<!--</div>-->
