<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="noeSabeghe">
            <h2><span jhiTranslate="insurancestartApp.noeSabeghe.detail.title">Noe Sabeghe</span> {{noeSabeghe.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="insurancestartApp.noeSabeghe.name">Name</span></dt>
                <dd>
                    <span>{{noeSabeghe.name}}</span>
                </dd>
                <dt><span jhiTranslate="insurancestartApp.noeSabeghe.sharh">Sharh</span></dt>
                <dd>
                    <span>{{noeSabeghe.sharh}}</span>
                </dd>
                <dt><span jhiTranslate="insurancestartApp.noeSabeghe.faal">Faal</span></dt>
                <dd>
                    <span>{{noeSabeghe.faal}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/noe-sabeghe', noeSabeghe.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
