<div>
    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-8">
            <h2 id="page-heading" jhiTranslate="insurancestartApp.sabeghe.home.title">Sabeghes</h2>
        </div>
        <div class="col-sm-4 text-right">
            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sabeghe"
                    [routerLink]="['/sabeghe/new']"
                    [ngbTooltip]="addTooltip" placement="bottom">
                <fa-icon [icon]="'plus'"></fa-icon>
                <ng-template #addTooltip>
                    <span  jhiTranslate="insurancestartApp.sabeghe.home.createLabel">Create new Sabeghe</span>
                </ng-template>
            </button>
            <form name="searchForm" class="form-inline" >
                <div class="input-group w-100 mr-1">
                    <select class="form-control col-sm-4" [(ngModel)]="propkey" name="propkey" >
                        <option [ngValue]="null" selected></option>
                        <option [ngValue]="prop.value" *ngFor="let prop of entity | keyvalue" jhiTranslate="insurancestartApp.sabeghe.{{prop.value}}"> {{prop.value}}</option>
                    </select>
                    <select class="form-control col-sm-4 " [(ngModel)]="operation" name="operation" >
                        <option value='='>مساوی</option>
                        <option value='<'>کوچکتر</option>
                        <option value='>'>بزرگتر</option>
                        <option value='contains'>شامل</option>
                    </select>
                    <input type="text" class="form-control"   aria-label="Search" [(ngModel)]="searchvalue" name="searchvalue"
                           placeholder="---"
                    >
                    <button class="input-group-append btn btn-info" (click)="search()">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="searchvalue">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <br/>
    <div class="table-responsive" *ngIf="sabeghes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="insurancestartApp.sabeghe.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sharh"><span jhiTranslate="insurancestartApp.sabeghe.sharh">Sharh</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="faal"><span jhiTranslate="insurancestartApp.sabeghe.faal">Faal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let sabeghe of sabeghes ;trackBy: trackId">
                <td><a [routerLink]="['/sabeghe', sabeghe.id, 'view' ]">{{sabeghe.id}}</a></td>
                <td>{{sabeghe.name}}</td>
                <td>{{sabeghe.sharh}}</td>

                <td>
                    <fa-icon [icon]="sabeghe.faal ? 'check' : 'times'" aria-hidden="true" class="{{sabeghe.faal ? 'text-success' : 'text-danger'}}"></fa-icon>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sabeghe', sabeghe.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sabeghe', sabeghe.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sabeghe/'+ sabeghe.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
