<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-adam-khesarat-sarneshin-heading" jhiTranslate="insurancestartApp.adamKhesaratSarneshin.home.createOrEditLabel">Create or edit a Adam Khesarat Sarneshin</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!adamKhesaratSarneshin.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="adamKhesaratSarneshin.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insurancestartApp.adamKhesaratSarneshin.sarneshin" for="field_sarneshin">Sarneshin</label>
                    <input type="number" class="form-control" name="sarneshin" id="field_sarneshin"
                        [(ngModel)]="adamKhesaratSarneshin.sarneshin" required min="0" jhiMin="0"/>
                    <div [hidden]="!(editForm.controls.sarneshin?.dirty && editForm.controls.sarneshin?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sarneshin?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.sarneshin?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.sarneshin?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insurancestartApp.adamKhesaratSarneshin.faal" for="field_faal">Faal</label>
                    <input type="checkbox" class="form-control" name="faal" id="field_faal"
                        [(ngModel)]="adamKhesaratSarneshin.faal" />
                    <div [hidden]="!(editForm.controls.faal?.dirty && editForm.controls.faal?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.faal?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insurancestartApp.adamKhesaratSarneshin.noeSabeghe" for="field_noeSabeghe">Noe Sabeghe</label>
                    <select class="form-control" id="field_noeSabeghe" name="noeSabeghe" [(ngModel)]="adamKhesaratSarneshin.noeSabegheId"  required>
                        <option *ngIf="!editForm.value.noeSabeghe" [ngValue]="null" selected></option>
                        <option [ngValue]="noeSabegheOption.id" *ngFor="let noeSabegheOption of noesabeghes; trackBy: trackNoeSabegheById">{{noeSabegheOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.noeSabeghe?.dirty && editForm.controls.noeSabeghe?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.noeSabeghe?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insurancestartApp.adamKhesaratSarneshin.sabeghe" for="field_sabeghe">Sabeghe</label>
                    <select class="form-control" id="field_sabeghe" name="sabeghe" [(ngModel)]="adamKhesaratSarneshin.sabegheId"  required>
                        <option *ngIf="!editForm.value.sabeghe" [ngValue]="null" selected></option>
                        <option [ngValue]="sabegheOption.id" *ngFor="let sabegheOption of sabeghes; trackBy: trackSabegheById">{{sabegheOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.sabeghe?.dirty && editForm.controls.sabeghe?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sabeghe?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
