<div>
    <h2 id="page-heading">
        <span jhiTranslate="insurancestartApp.salesMazadCalc.home.title">Sales Mazad Calcs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sales-mazad-calc" [routerLink]="['/sales-mazad-calc/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="insurancestartApp.salesMazadCalc.home.createLabel">
            Create new Sales Mazad Calc
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="salesMazadCalcs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mablaghSalesMazad"><span jhiTranslate="insurancestartApp.salesMazadCalc.mablaghSalesMazad">Mablagh Sales Mazad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tedadRooz"><span jhiTranslate="insurancestartApp.salesMazadCalc.tedadRooz">Tedad Rooz</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="haghBime"><span jhiTranslate="insurancestartApp.salesMazadCalc.haghBime">Hagh Bime</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tarikhShoroo"><span jhiTranslate="insurancestartApp.salesMazadCalc.tarikhShoroo">Tarikh Shoroo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tarikhPayan"><span jhiTranslate="insurancestartApp.salesMazadCalc.tarikhPayan">Tarikh Payan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="namesherkatName"><span jhiTranslate="insurancestartApp.salesMazadCalc.namesherkat">Namesherkat</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="grouhKhodroName"><span jhiTranslate="insurancestartApp.salesMazadCalc.grouhKhodro">Grouh Khodro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let salesMazadCalc of salesMazadCalcs ;trackBy: trackId">
                <td><a [routerLink]="['/sales-mazad-calc', salesMazadCalc.id, 'view' ]">{{salesMazadCalc.id}}</a></td>
                <td>{{salesMazadCalc.mablaghSalesMazad | currency:'  میلیون تومان ':true:'1.0-0'}}</td>
                <td>{{salesMazadCalc.tedadRooz}}</td>
                <td>{{salesMazadCalc.haghBime | currency:'   ریال ':true:'1.0-0'}}</td>
                <td>{{salesMazadCalc.tarikhShoroo | jalali}}</td>
                <td>{{salesMazadCalc.tarikhPayan | jalali}}</td>
                <td>
                    <div *ngIf="salesMazadCalc.namesherkatId">
                        <a [routerLink]="['../sherkat-bime', salesMazadCalc.namesherkatId , 'view' ]" >{{salesMazadCalc.namesherkatName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="salesMazadCalc.grouhKhodroId">
                        <a [routerLink]="['../grouh-khodro', salesMazadCalc.grouhKhodroId , 'view' ]" >{{salesMazadCalc.grouhKhodroName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sales-mazad-calc', salesMazadCalc.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sales-mazad-calc', salesMazadCalc.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'sales-mazad-calc', { outlets: { popup: salesMazadCalc.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
