<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-sales-mazad-calc-heading" jhiTranslate="insurancestartApp.salesMazadCalc.home.createOrEditLabel">Create or edit a Sales Mazad Calc</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!salesMazadCalc.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="salesMazadCalc.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insurancestartApp.salesMazadCalc.mablaghSalesMazad" for="field_mablaghSalesMazad">Mablagh Sales Mazad</label>
                    <input type="number" class="form-control" name="mablaghSalesMazad" id="field_mablaghSalesMazad"
                        [(ngModel)]="salesMazadCalc.mablaghSalesMazad" required min="0" jhiMin="0"/>
                    <div [hidden]="!(editForm.controls.mablaghSalesMazad?.dirty && editForm.controls.mablaghSalesMazad?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.mablaghSalesMazad?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.mablaghSalesMazad?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.mablaghSalesMazad?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insurancestartApp.salesMazadCalc.tedadRooz" for="field_tedadRooz">Tedad Rooz</label>
                    <input type="number" class="form-control" name="tedadRooz" id="field_tedadRooz"
                        [(ngModel)]="salesMazadCalc.tedadRooz" required min="0" jhiMin="0"/>
                    <div [hidden]="!(editForm.controls.tedadRooz?.dirty && editForm.controls.tedadRooz?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tedadRooz?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.tedadRooz?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.tedadRooz?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insurancestartApp.salesMazadCalc.haghBime" for="field_haghBime">Hagh Bime</label>
                    <input type="number" class="form-control" name="haghBime" id="field_haghBime"
                        [(ngModel)]="salesMazadCalc.haghBime" required min="0" jhiMin="0"/>
                    <div [hidden]="!(editForm.controls.haghBime?.dirty && editForm.controls.haghBime?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.haghBime?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.haghBime?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.haghBime?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insurancestartApp.salesMazadCalc.tarikhShoroo" for="field_tarikhShoroo">Tarikh Shoroo</label>
                    <div class="input-group">
                        <input id="field_tarikhShoroo" type="text" class="form-control" [displayMonths]="1" [firstDayOfWeek]="6"  name="tarikhShoroo" ngbDatepicker  #tarikhShorooDp="ngbDatepicker" [(ngModel)]="salesMazadCalc.tarikhShoroo"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="tarikhShorooDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.tarikhShoroo?.dirty && editForm.controls.tarikhShoroo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tarikhShoroo?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insurancestartApp.salesMazadCalc.tarikhPayan" for="field_tarikhPayan">Tarikh Payan</label>
                    <div class="input-group">
                        <input id="field_tarikhPayan" type="text" class="form-control" name="tarikhPayan" ngbDatepicker  #tarikhPayanDp="ngbDatepicker" [(ngModel)]="salesMazadCalc.tarikhPayan"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="tarikhPayanDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.tarikhPayan?.dirty && editForm.controls.tarikhPayan?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tarikhPayan?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insurancestartApp.salesMazadCalc.namesherkat" for="field_namesherkat">Namesherkat</label>
                    <select class="form-control" id="field_namesherkat" name="namesherkat" [(ngModel)]="salesMazadCalc.namesherkatId"  required>
                        <option *ngIf="!editForm.value.namesherkat" [ngValue]="null" selected></option>
                        <option [ngValue]="sherkatBimeOption.id" *ngFor="let sherkatBimeOption of sherkatbimes; trackBy: trackSherkatBimeById">{{sherkatBimeOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.namesherkat?.dirty && editForm.controls.namesherkat?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.namesherkat?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insurancestartApp.salesMazadCalc.grouhKhodro" for="field_grouhKhodro">Grouh Khodro</label>
                    <select class="form-control" id="field_grouhKhodro" name="grouhKhodro" [(ngModel)]="salesMazadCalc.grouhKhodroId"  required>
                        <option *ngIf="!editForm.value.grouhKhodro" [ngValue]="null" selected></option>
                        <option [ngValue]="grouhKhodroOption.id" *ngFor="let grouhKhodroOption of grouhkhodros; trackBy: trackGrouhKhodroById">{{grouhKhodroOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.grouhKhodro?.dirty && editForm.controls.grouhKhodro?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.grouhKhodro?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
