<div>
    <h2 id="page-heading">
        <span jhiTranslate="insurancestartApp.jarimeDirkard.home.title">Jarime Dirkards</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-jarime-dirkard" [routerLink]="['/jarime-dirkard/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="insurancestartApp.jarimeDirkard.home.createLabel">
            Create new Jarime Dirkard
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="jarimeDirkards">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="sherkatBimeName"><span jhiTranslate="insurancestartApp.jarimeDirkard.sherkatBime">Sherkat Bime</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="grouhKhodroName"><span jhiTranslate="insurancestartApp.jarimeDirkard.grouhKhodro">Grouh Khodro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="roozane"><span jhiTranslate="insurancestartApp.jarimeDirkard.roozane">Roozane</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="faal"><span jhiTranslate="insurancestartApp.jarimeDirkard.faal">Faal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let jarimeDirkard of jarimeDirkards ;trackBy: trackId">
                <td><a [routerLink]="['/jarime-dirkard', jarimeDirkard.id, 'view' ]">{{jarimeDirkard.id}}</a></td>
                <td>
                    <div *ngIf="jarimeDirkard.sherkatBimeId">
                        <a [routerLink]="['../sherkat-bime', jarimeDirkard.sherkatBimeId , 'view' ]" >{{jarimeDirkard.sherkatBimeName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="jarimeDirkard.grouhKhodroId">
                        <a [routerLink]="['../grouh-khodro', jarimeDirkard.grouhKhodroId , 'view' ]" >{{jarimeDirkard.grouhKhodroName}}</a>
                    </div>
                </td>
                <td>{{jarimeDirkard.roozane | currency:'  ریال ':true:'1.0-0'}}</td>

                <!--<td>-->
                    <!--<fa-icon [icon]="jarimeDirkard.faal ? 'check' : 'times'" aria-hidden="true" class="{{jarimeDirkard.faal ? 'text-success' : 'text-danger'}}"></fa-icon>-->
                <!--</td>-->
                <td>
                    <button class="btn btn-danger btn-sm" (click)="setActive(jarimeDirkard, true)" *ngIf="!jarimeDirkard.faal"
                            jhiTranslate="userManagement.deactivated">Deactivated</button>
                    <button class="btn btn-success btn-sm" (click)="setActive(jarimeDirkard, false)" *ngIf="jarimeDirkard.faal"
                            jhiTranslate="userManagement.activated">Activated</button>
                </td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/jarime-dirkard', jarimeDirkard.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/jarime-dirkard', jarimeDirkard.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'jarime-dirkard', { outlets: { popup: jarimeDirkard.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
