<div>
    <h2 id="page-heading">
        <span jhiTranslate="insurancestartApp.adamKhesarat.home.title">Adam Khesarats</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-adam-khesarat" [routerLink]="['/adam-khesarat/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="insurancestartApp.adamKhesarat.home.createLabel">
            Create new Adam Khesarat
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="adamKhesarats">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sales"><span jhiTranslate="insurancestartApp.adamKhesarat.sales">Sales</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mazad"><span jhiTranslate="insurancestartApp.adamKhesarat.mazad">Mazad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="faal"><span jhiTranslate="insurancestartApp.adamKhesarat.faal">Faal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sabegheName"><span jhiTranslate="insurancestartApp.adamKhesarat.sabeghe">Sabeghe</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="noeSabegheName"><span jhiTranslate="insurancestartApp.adamKhesarat.noeSabeghe">Noe Sabeghe</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let adamKhesarat of adamKhesarats ;trackBy: trackId">
                <td><a [routerLink]="['/adam-khesarat', adamKhesarat.id, 'view' ]">{{adamKhesarat.id}}</a></td>
                <td>{{adamKhesarat.sales | currency:'  % ':true:'1.0-0'}}</td>
                <td>{{adamKhesarat.mazad | currency:'  % ':true:'1.0-0'}}</td>
                <!--<td>{{adamKhesarat.faal}}</td>-->
                <!--<td>-->
                    <!--<fa-icon [icon]="adamKhesarat.faal ? 'check' : 'times'" aria-hidden="true" class="{{adamKhesarat.faal ? 'text-success' : 'text-danger'}}"></fa-icon>-->
                <!--</td>-->
                <td>
                    <button class="btn btn-danger btn-sm" (click)="setActive(adamKhesarat, true)" *ngIf="!adamKhesarat.faal"
                            jhiTranslate="userManagement.deactivated">Deactivated</button>
                    <button class="btn btn-success btn-sm" (click)="setActive(adamKhesarat, false)" *ngIf="adamKhesarat.faal"
                            jhiTranslate="userManagement.activated">Activated</button>
                </td>

                <td>
                    <div *ngIf="adamKhesarat.sabegheId">
                        <a [routerLink]="['../sabeghe', adamKhesarat.sabegheId , 'view' ]" >{{adamKhesarat.sabegheName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="adamKhesarat.noeSabegheId">
                        <a [routerLink]="['../noe-sabeghe', adamKhesarat.noeSabegheId , 'view' ]" >{{adamKhesarat.noeSabegheName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/adam-khesarat', adamKhesarat.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/adam-khesarat', adamKhesarat.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'adam-khesarat', { outlets: { popup: adamKhesarat.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
