<div class="row">
    <div class="col-md-1"></div>

    <!--<div class="col-md-3">-->
        <!--<span class="hipster img-fluid rounded"></span>-->
    <!--</div>-->
    <!--<div class="col-md-9">-->
        <!--<h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>-->
        <!--<p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>-->

        <!--<div [ngSwitch]="isAuthenticated()">-->
            <!--<div class="alert alert-success" *ngSwitchCase="true">-->
                <!--<span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"-->
                    <!--[translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}". </span>-->
            <!--</div>-->


    <div class="col-md-10">
        <div>
 <!--           <div *ngIf="!isAuthenticated()">
                <div class="alert alert-info" role="alert">
                    JHipster Online is the best place to generate <a href="#" target="_blank" rel="noopener" data-translate="home.link.homepage">JHipster</a> applications, with no installation required!
                </div>
            </div>
            <div *ngIf="!isAuthenticated()">
                <div class="alert alert-info" role="alert">
                    No more command line: fill an easy-to-use Web form, JHipster Online generates a complete <a href="" target="_blank" rel="noopener" data-translate="home.link.homepage">JHipster</a> application on your GitHub account.
                </div>
            </div>-->
 <!--           <div>
                <div class="alert alert-primary" role="alert" *ngIf="!isAuthenticated()">
                    <a class="navbar-brand logo" routerLink="/">
                        <span class="logo-img"></span>
                        <span jhiTranslate="global.title" class="navbar-title">Insurancestart</span>
                        &lt;!&ndash;<span class="badge badge-danger">new</span> Check out <a routerLink="/statistics">JHipster statistics</a> to have an overview of what JHipster users are building.&ndash;&gt;
                </div>-->

            <nav class="navbar-dark navbar-expand-md  bg-primary align-middle" >
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
                        <a class="nav-link mt-2" routerLink="/">
                            <span class="btn-rounded align-middle">
                                <fa-icon icon="home" size="2x" fixedWidth="true"></fa-icon>
                            </span>
                            <span jhiTranslate="global.menu.homeside" class="align-middle h5 ">Home</span>
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
                        <a class="nav-link  mt-2" routerLink="hi-there">
                            <span class="btn-rounded align-middle">
                                <fa-icon icon="wrench" size="2x" fixedWidth="true"></fa-icon>
                            </span>
                            <span jhiTranslate="global.menu.tirthissu" class="align-middle h5" >tirthissu</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
                        <a class="nav-link  mt-2" routerLink="/">
                            <span class="btn-rounded align-middle">
                                <fa-icon icon="wrench" size="2x" fixedWidth="true"></fa-icon>
                            </span>
                            <span jhiTranslate="global.menu.autobody" class="align-middle h5" >autobody</span>
                        </a>
                    </li>
                    <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >-->
                        <!--<a class="nav-link  mt-2" routerLink="/">-->
                            <!--<span class="btn-rounded align-middle">-->
                                <!--<fa-icon icon="wrench" size="2x" fixedWidth="true"></fa-icon>-->
                            <!--</span>-->
                            <!--<span jhiTranslate="global.menu.fire" class="align-middle h5" >fire</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >-->
                        <!--<a class="nav-link  mt-2" routerLink="/">-->
                            <!--<span class="btn-rounded align-middle">-->
                                <!--<fa-icon icon="wrench" size="2x" fixedWidth="true"></fa-icon>-->
                            <!--</span>-->
                            <!--<span jhiTranslate="global.menu.life" class="align-middle h5" >life</span>-->
                        <!--</a>-->
                    <!--</li>-->
<!--                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngSwitchCase="true">
                        <a class="nav-link text-primary mt-3" routerLink="">
                            <span class="btn-rounded align-middle">
                                <fa-icon icon="rocket" size="2x" fixedWidth="true"></fa-icon>
                            </span>
                            <span class="align-middle h5">Create Application</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngSwitchCase="true">
                        <a class="nav-link text-primary mt-3" routerLink="">
                            <span class="btn-rounded align-middle">
                                <fa-icon icon="object-group" size="2x" fixedWidth="true"></fa-icon>
                            </span>
                            <span class="align-middle h5">Design Entities</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngSwitchCase="true">
                        <a class="nav-link text-primary mt-3" routerLink="">
                            <span class="btn-rounded align-middle">
                                <fa-icon icon="cloud-upload-alt" size="2x" fixedWidth="true"></fa-icon>
                            </span>
                            <span class="align-middle h5">Continuous Integration</span>
                        </a>
                    </li>
                    <li class="nav-item" *ngSwitchCase="false">
                        <a class="nav-link text-primary mt-3" href="jdl-studio/">
                            <span class="btn-rounded align-middle">
                                <fa-icon icon="project-diagram" size="2x" fixedWidth="true"></fa-icon>
                            </span>
                            <span class="align-middle h5">JDL Studio</span>
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link text-primary mt-3" routerLink="">
                            <span class="btn-rounded align-middle">
                                <fa-icon icon="chart-line" size="2x" fixedWidth="true"></fa-icon>
                            </span>
                            <span class="align-middle h5">JHipster Statistics </span><span class="badge badge-danger">new</span>
                        </a>
                    </li>-->

                </ul>
            </nav>
            </div>
        </div>
    </div>
<div class="row">
   <div class="col-md-12">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
        <div>
            <div [ngSwitch]="isAuthenticated()">
                <div class="container" *ngSwitchCase="false">
                    <div class="row">
                        <div class="col-md-6">
                            <!--<div class="card">-->
                                <!--<div class="card-header" jhiTranslate="login.form.button">-->
                                    <!--<fa-icon icon="sign-in-alt"></fa-icon>-->
                                    <!--&nbsp;Authentication-->
                                <!--</div>-->
                                <!--<div class="card-body">-->

                                    <!--<button type="button" class="btn btn-info" jhiTranslate="login.form.button" (click)="login()">Please sign in</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                        <div class="col-md-6">
                            <!--<div class="card">-->
                                <!--<div class="card-header" jhiTranslate="register.form.button">-->
                                    <!--<fa-icon icon="user-plus"></fa-icon>-->
                                    <!--&nbsp;Registration-->
                                <!--</div>-->
                                <!--<div class="card-body">-->


                                    <!--<a class="btn btn-info" routerLink="register" jhiTranslate="register.form.button">Please register</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>


<!--                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                            <h4>JHipster is an Open Source, widely popular application generator</h4>
                            <p>
                                If you want more information on JHipster:
                            </p>
                            <ul>
                                <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener">JHipster homepage (with documentation, slides, tutorials, etc.)</a></li>
                                <li><a href="https://github.com/jhipster/generator-jhipster" target="_blank"
                                       rel="noopener">JHipster source code on GitHub</a></li>
                                <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener">JHipster on Twitter</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                            <h4>JHipster Online is also Open Source!</h4>
                            <p>
                                The application on <a href="https://start.jhipster.tech/" target="_blank">https://start.jhipster.tech/</a> is the
                                official JHipster Online instance, which is managed by the JHipster team.
                            </p>
                            <p>
                                If you want to look at our source code, or if in your company wants to host (and modify!) its own version of JHipster Online, the
                                project is available on GitHub at <a href="https://github.com/jhipster/jhipster-online" target="_blank">https://github.com/jhipster/jhipster-online</a>.
                            </p>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="col-md-1"></div>
