<div>
    <h2 id="page-heading">
        <span jhiTranslate="insurancestartApp.khesaratSales.home.title">Khesarat Sales</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-khesarat-sales" [routerLink]="['/khesarat-sales/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="insurancestartApp.khesaratSales.home.createLabel">
            Create new Khesarat Sales
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="khesaratSales">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="sabegheName"><span jhiTranslate="insurancestartApp.khesaratSales.sabeghe">Sabeghe</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="noeSabegheName"><span jhiTranslate="insurancestartApp.khesaratSales.noeSabeghe">Noe Sabeghe</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="noe"><span jhiTranslate="insurancestartApp.khesaratSales.noe">Noe</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nerkhKhesarat"><span jhiTranslate="insurancestartApp.khesaratSales.nerkhKhesarat">Nerkh Khesarat</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="faal"><span jhiTranslate="insurancestartApp.khesaratSales.faal">Faal</span> <fa-icon [icon]="'sort'"></fa-icon></th>

            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let khesaratSales of khesaratSales ;trackBy: trackId">
                <td><a [routerLink]="['/khesarat-sales', khesaratSales.id, 'view' ]">{{khesaratSales.id}}</a></td>
                <td>
                    <div *ngIf="khesaratSales.sabegheId">
                        <a [routerLink]="['../sabeghe', khesaratSales.sabegheId , 'view' ]" >{{khesaratSales.sabegheName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="khesaratSales.noeSabegheId">
                        <a [routerLink]="['../noe-sabeghe', khesaratSales.noeSabegheId , 'view' ]" >{{khesaratSales.noeSabegheName}}</a>
                    </div>
                </td>
                <td jhiTranslate="{{'insurancestartApp.SalesSarneshinEnum.' + khesaratSales.noe}}">{{khesaratSales.noe}}</td>
                <td>{{khesaratSales.nerkhKhesarat}}</td>
                <!--<td>{{khesaratSales.faal}}</td>-->
                <td>
                    <fa-icon [icon]="khesaratSales.faal ? 'check' : 'times'" aria-hidden="true" class="{{khesaratSales.faal ? 'text-success' : 'text-danger'}}"></fa-icon>
                </td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/khesarat-sales', khesaratSales.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/khesarat-sales', khesaratSales.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'khesarat-sales/'+ khesaratSales.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
